COMPOSE_PROJECT_NAME=azuracast
AZURACAST_HTTP_PORT=80
AZURACAST_HTTPS_PORT=443
AZURACAST_SFTP_PORT=2022
AZURACAST_RELEASE_VERSION=stable
AZURACAST_PUID=1000
AZURACAST_PGID=1000
TZ=UTC
LETSENCRYPT_HOST=radio.example.com
LETSENCRYPT_EMAIL=admin@example.com
AZURACAST_API_URL=http://localhost/api
AZURACAST_ADMIN_API_KEY=replace_me
DASHBOARD_PORT=3000
