APPLICATION_ENV=production
COMPOSER_PLUGIN_MODE=false
AUTO_ASSIGN_PORT_MIN=8000
AUTO_ASSIGN_PORT_MAX=8010
SHOW_DETAILED_ERRORS=false

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=azuracast
MYSQL_PASSWORD=azur4c457
MYSQL_DATABASE=azuracast
MYSQL_RANDOM_ROOT_PASSWORD=yes

ENABLE_REDIS=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1
